body{
  font-family: 'Montserrat', sans-serif;
}

#product-overview{
  background: #ff1b68;
}

#product-overview h1{
  color:white;
  font-family: 'Anton', sans-serif;
}

h1{
  font-family: sans-serif;
}

/* here the #product-overview h1 is given more preference than h1, so the font family of the #product-overview h1{} is applied on its h1 rather than
font family of h1 selector */

.section-title{
  color:green;
}

/* we cannot use ids more than once for styling,
but we can use classes more than once for styling */

/* here the order of over riding matters only for same class or selector
but it doesnt matter for different class over riding the css of the same element */

/* cascading means, multiple rules can apply to the same element */