.container {
  margin: 20px;
  display: grid;
  /* grid-template-columns: 200px 150px 20% 1fr; */
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: [row-1-start] 5rem [row-1-end row-2-starts] minmax(10px, 200px);
  height: 500px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-areas: "";
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
  /* grid-column-start: 1;
  grid-column-end: -1; */
  /* grid-column: 1 / -1; */
  /* grid-row-start: 2;
  grid-row-end: span 1; */
  /* grid-row: 2 / span 1; */
  z-index: 10;
  grid-area: 2 / 1 / span 1 / -1;
}

.el3 {
  margin: 10px;
  background: rgba(0, 128, 0, 0.5);
  /* grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 3; */
  grid-area : header;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
}
